body {
  background-color: rgb(39, 31, 56);
  align-items: center;
  text-align: center;
  color: aqua;
}
* {
  color: aqua;
}

input[type='text'] {
  background-color: rgb(23, 21, 27);
  border: 1px solid aqua;
  color: aqua;
  padding: 10px;
  margin: 10px;
  width: 300px;
  font-size: large;
  border-radius: 10px;
}
